@charset "UTF-8";

body {
    background-color: lightgray;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}