<!DOCTYPE html>
<html lang='fr'>

    <head>
        <meta charset="UTF-8">
        <title>Mprj.Nav</title>
        <meta name="description" content="Website navigation menu">
        <link rel="icon" href="https://lh5.googleusercontent.com/F1tFbZNKTEjxRKLVfgQ35YXCaI3BY9DktFc8Qh0lam1JwfhCj6pBMCAAT9eMdS0kdybvdkIkMpUED9fopqS1xFvI8cfiZFru">
        <link rel="stylesheet" href="/fr/components/preload.css">
        <base target="_parent">
    </head>

    <body>
        <nav>
            <a href="/fr" title="Changer de langue (français)"><img src="/fr.png" alt="FR" /></a>
            <a href="/en" title="Return to home">Home</a>
            <a href="/en/products" title="Learn more about our products">Products</a>
            <a href="/en/contact" title="Contact us">Contact</a>
            <a href="/en/donations" title="Donations">Donations</a>
            <a href="/en/info" title="Debugging informations">Informations</a>
            <!--<a href="/en/projectai" title="Project AI">Project AI</a>-->
        </nav>
    </body>

</html>