<!DOCTYPE html>
<html lang='fr'>

    <head>
        <meta charset="UTF-8">
        <title>Mprj.Google-Notice</title>
        <meta name="description" content="Made With Google Translate notice">
        <link rel="icon" href="https://lh5.googleusercontent.com/F1tFbZNKTEjxRKLVfgQ35YXCaI3BY9DktFc8Qh0lam1JwfhCj6pBMCAAT9eMdS0kdybvdkIkMpUED9fopqS1xFvI8cfiZFru">
        <link rel="stylesheet" href="/fr/components/preload.css">
        <base target="_parent">
    </head>

    <body>
            <div class="gtranslate">
                    <img src="/gtranslate.png" height='32' width='32'>
                    This page was translated using <a href="https://translate.google.com">Google Translate</a>.
            </div>
    </body>

</html>